@use "pkg:iati-design-system" as *;

.relations {
  display: flex;
  padding: $padding-block;

  & > * {
    flex: 1;
  }

  &__label {
    margin: 0;
    font-weight: bold;
    font-size: 0.9em;
  }
}
