@use "pkg:iati-design-system/dist/css/iati";

.rubric {
  font-weight: bold;
  font-size: 1.2em;
}

.line-block {
  margin: var(--padding-block) 0;

  .line-block {
    margin: 0;
    padding-left: var(--padding-block);
  }
}

.headerlink {
  color: var(--color-grey-30);
  text-decoration: none;
  padding-left: var(--padding-block);
  font-size: 0.8em;
  font-weight: var(--font-weight-body);

  &:hover {
    color: var(--color-grey-90);
  }
}

.guilabel {
  background-color: var(--color-teal-10);
  border: 1px solid var(--color-teal-70);
  font-size: 0.6em;
  padding: 0 0.2em;
  border-radius: 0.2em;
}

// API Documentation

.sig {
  @extend .iati-code;
  display: inline-block;
  color: var(--color-grey-60);

  .sig-name {
    color: var(--color-grey-90);
    font-weight: bold;
  }
}

// Code Blocks

code {
  @extend .iati-code;
}

pre {
  @extend .iati-code;
  @extend .iati-code--block;
}

span.linenos {
  color: var(--color-grey-50);
  margin-right: var(--padding-block);
}

.highlight {
  background: none;
}

// Captions

.code-block-caption,
.caption-text {
  text-align: center;
  font-style: italic;
}

// Description Lists

dl dt .classifier::before {
  content: " : ";
}

// Block quotes

blockquote:not(:has(pre)) {
  @extend .iati-quote;
}
